body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Figtree", sans-serif;
}

.card {
  background-color: #fcedd0;
  width: 90%;
  max-width: 450px;
  border-radius: 15px;
  border: 1px solid #121212;
  margin: 10px;
  transition: all 300ms;
  height: 650px;
}

.search-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 300px;
  width: 70%;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #121212;
  background-color: #9FDABC;
}

.search-btn {
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #121212;
  background-color: white;
  width: 42px;
  cursor: pointer;
  background-color: #50d8ea;
}

.search-img {
  width: 25px;
}

.current-data {
  max-width: 350px;
  height: 150px;
  background-color: #50d8ea;
  margin: 40px auto;
  border-radius: 15px;
  border: 1px solid #121212;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  max-width: 350px;
  margin: 0 auto;
}

.day {
  max-width: 170px;
  height: 100px;
  background-color: #8480ef;
  border-radius: 10px;
  border: 1px solid #121212;
}

@media (max-width: 420px) {
  .current-data {
    margin: 40px 15px;
  }

  .cards {
    margin: 0px 15px;
  }
}

