body {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.main-card {
  background-color: #393E46;
  width: 95%;
  max-width: 650px;
  border-radius: 15px;
  border: 1px solid #121212;
  margin: 10px;
  transition: all 300ms;
  padding-bottom: 20px;
  /* height: 420px; */
}

.search-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-bar {
  padding: 10px;
  border-radius: 20px;
  max-width: 250px;
  width: 70%;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #121212;
}

.search-btn {
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #121212;
  background-color: white;
  width: 42px;
  cursor: pointer;
}

.search-img {
  width: 25px;
}

.current-data {
  display: flex;
  color: white;
  gap: 15px;
}

/* .main-logo {
  width: 130px;
  margin-top: 25px;
  margin-left: 10px;
  
} */

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin: 20px auto;
  font-size: 1.4rem;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 20px auto;
}

#place {
  font-weight: 100;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 15px;
}

#curr-day {
  /* text-transform: uppercase; */
  /* margin: 0px 0px; */
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

#curr-temp {
  font-size: 2.0rem;
  font-weight: 400;
  margin-top: 10px;
}

#curr-weather {
  line-height: 0px;
  text-transform: capitalize;
  /* text-transform: uppercase; */
  /* font-size: 1.4rem; */
  /* text-align: center; */
  /* letter-spacing: 0.1rem; */
}

@media (max-width: 420px) {
  .current-data {
    margin: 20px 15px;
  }
  .curr-weather {
    padding: 10px 8px;
    margin-right: 5px;
  }
}

@media (max-width: 540px){
   .current-data {
    flex-direction: column;
  }

  .weather-details {
    gap: 10px;
  }
}
